$background-color: #cc9694;

footer
{
    background-color: $background-color;
}

.footer__signature
{
    margin: 0 auto;
    padding: 28px;
}

li
{
    h3
    {
        color: #000;
    }
    a
    {
        color: #fcffd2;
        transition: color 300ms;
        transition-timing-function: ease-in-out;
    }
    a:link,
    a:visited,
    a:focus,
    a:active
    {
        color: #fcffd2;
    }
    a:hover
    {
        color: #000000;
        cursor: pointer;
    }
}
